%div
  %p.font-big
    Scoreについて
  %p
    当サイトにお越しいただきありがとうございます。
  %p
    サッカー観戦をより楽しいものにするため、この場を提供させていただいています。
  %p
    今までにない視点や知識を得て、サッカー観戦を楽しみましょう。
  </br>
  %p
    ※注意事項
  %p
    ・試用期間中、様々な追加機能を考えているため、お知らせなく、システム変更や、投稿内容が削除される場合があります。
  %p
    ・個人やチームに対する誹謗中傷や差別的表現は禁止とします。
  %p
    Score 開発・運営者