// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.other-match-nav {
    display: flex;
    list-style:none;

    li {
        margin: 0 5px;
    }
}

table {
    .home-team-name, .away-team-name {
        width: 200px;
    }

    tbody {
        tr {
            height: 32px;
        }
    }
}