// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info-area {
    display: flex;
    margin: 10px 0;

    .user-image-area {

        img {
          border-radius: 5px;
        }
    }
}

.user-information-analysis {
    display: flex;
    flex-wrap:wrap;
    padding: 10px 0;
    margin: 10px 0;

    .post-teams-analysis {
        width: 600px !important;
        height: 300px !important;
    }
}

.post-player-analysis {
    p {
        margin: 0;
        font-size: 18px;
    }

    .post-player-title {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .rank {
        display: inline-block;
        width: 20px;
    }

    .player-name {
        display: inline-block;
        width: 200px;
    }

    .team-name {
        font-size: 14px;
        opacity: 0.7;
        padding-left: 20px;
    }
}

.follow-list, .follower-list{
  li{
    list-style: none;
  }
}

#new_user,#edit_user {
    em {
        font-size: 80%;
        opacity: 0.7;
    }

    #error_explanation {
        ul {
            list-style: none;
        }
    }

    .field {
        margin-bottom: 20px;
    }

    .input_text {
        width: 100%;
    }

    .actions {
      padding-top: 20px;
      display: flex;
      justify-content: center;
    }
}

@media screen and (max-width: 750px) {
    .user-information-analysis {
        .post-teams-analysis {
            width: 356px !important;
            height: 178px !important;
        }
    }
}