// Place all the styles related to the welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin bp {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }
  .slider_css {
    height: 550px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  
    #description_area {/*aタグを画像の真ん中に*/
      position: absolute;
      padding: 0 10px 30px 10px;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      text-align: center;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 3px;
      box-shadow: 0 5px 10px #333333;
  
      h1 {
          color: #666666;
      }
  
      a {
          /*以下装飾*/
          margin:0;/*余計な隙間を除く*/
          font-size: 20px;/*文字サイズ*/
          border: solid #666666 2px; /*線で囲う*/
          border-radius: 5px;
          padding: 7px;/*文字と線の間の余白*/
          color: #666666;/*文字色*/
          text-decoration: none;/*下線を表示させない*/
      }
  
      a:hover{/*カーソルを当てたとき*/
          background: rgba(255, 255, 255, 0.3);/*背景を半透明に*/
      }
    }
  
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      
      li {
        background-size: cover;
        width: 100%;
        height: 550px;
        position: absolute;
        top: 0;
        left: 0;
        animation-iteration-count: infinite;
        animation-duration: 40s;
        @for $value from 1 through 6 {
          &:nth-child(#{$value}) {
            background-image: url("/assets/top_image#{$value}.jpg");
            @if $value % 2 == 0 {
              //偶数
              animation-name: slider-zoomout;
            }
            @else {
              //奇数
              animation-name: slider-zoomin;
            }
            @if $value != 1 {
              //最初以外は透過
              opacity: 0;
            }
            animation-delay: #{($value*8-11)}s; //-3からスタートして、8づつ加算する
          }
        }
        img {
          width: 130%;
        }
      }
    }
  
    @include bp {
      height: 400px;
      ul {
        li {
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }
  // 5~8秒の間だけ透過解除
  @keyframes slider-zoomin {
    0% {
      opacity: 0;
      transform: scale(1.0);
    }
    12.5% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    27.5% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: scale(1.3);
    }
  }
  @keyframes slider-zoomout {
    0% {
      opacity: 0;
      transform: scale(1.3);
    }
    12.5% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    27.5% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: scale(1.0);
    }
  }
  
  .cssgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 0.8em;
    border-radius: 3px;
    padding: 0.8em;
    margin: 0 0 2em;
    
    i {
      margin-right: 10px;
    }
  }
  
  .cssgrid > div {
    overflow: auto;
    min-width: 0;
    //padding: 1em;
    display: flex;
    font-size: 18px; 
    justify-content: center;
    align-items: center;
  }
  
  @media screen and (max-width: 750px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
    .slider_css {
      height: 255px;
    //  margin: 0 auto;
    //  position: relative;
    //  overflow: hidden;
    //
      #description_area {/*aタグを画像の真ん中に*/
    //    position: absolute;
    //    padding: 0 10px 30px 10px;
    //    top: 30%;
    //    left: 50%;
    //    -ms-transform: translate(-50%,-50%);
    //    -webkit-transform: translate(-50%,-50%);
    //    transform: translate(-50%,-50%);
    //    text-align: center;
    //    background: rgba(255, 255, 255, 0.8);
    //    border-radius: 3px;
    //    box-shadow: 0 5px 10px #333333;
    //
        h1 {
    //        color: #666666;
          font-size: 20px;
        }
    //
        a {
          font-size: 15px;
    //        /*以下装飾*/
    //        margin:0;/*余計な隙間を除く*/
    //        font-size: 20px;/*文字サイズ*/
    //        border: solid #666666 2px; /*線で囲う*/
    //        border-radius: 5px;
    //        padding: 7px;/*文字と線の間の余白*/
    //        color: #666666;/*文字色*/
    //        text-decoration: none;/*下線を表示させない*/
        }
    //
    //    a:hover{/*カーソルを当てたとき*/
    //        background: rgba(255, 255, 255, 0.3);/*背景を半透明に*/
    //    }
    //  }
    //
    //  ul {
    //    margin: 0;
    //    padding: 0;
    //    list-style: none;
    //    
    //    li {
    //      background-size: cover;
    //      width: 100%;
    //      height: 550px;
    //      position: absolute;
    //      top: 0;
    //      left: 0;
    //      animation-iteration-count: infinite;
    //      animation-duration: 40s;
    //      @for $value from 1 through 6 {
    //        &:nth-child(#{$value}) {
    //          background-image: url("/assets/top_image#{$value}.jpg");
    //          @if $value % 2 == 0 {
    //            //偶数
    //            animation-name: slider-zoomout;
    //          }
    //          @else {
    //            //奇数
    //            animation-name: slider-zoomin;
    //          }
    //          @if $value != 1 {
    //            //最初以外は透過
    //            opacity: 0;
    //          }
    //          animation-delay: #{($value*8-11)}s; //-3からスタートして、8づつ加算する
    //        }
    //      }
    //      img {
    //        width: 130%;
    //      }
    //    }
      }
    //
    //  @include bp {
    //    height: 400px;
    //    ul {
    //      li {
    //        background-size: contain;
    //        background-repeat: no-repeat;
    //      }
    //    }
    //  }
    }
    //// 5~8秒の間だけ透過解除
    //@keyframes slider-zoomin {
    //  0% {
    //    opacity: 0;
    //    transform: scale(1.0);
    //  }
    //  12.5% {
    //    opacity: 1;
    //  }
    //  20% {
    //    opacity: 1;
    //  }
    //  27.5% {
    //    opacity: 0;
    //  }
    //  100% {
    //    opacity: 0;
    //    transform: scale(1.3);
    //  }
    //}
    //@keyframes slider-zoomout {
    //  0% {
    //    opacity: 0;
    //    transform: scale(1.3);
    //  }
    //  12.5% {
    //    opacity: 1;
    //  }
    //  20% {
    //    opacity: 1;
    //  }
    //  27.5% {
    //    opacity: 0;
    //  }
    //  100% {
    //    opacity: 0;
    //    transform: scale(1.0);
    //  }
    //}
    //
    //.cssgrid {
    //  display: grid;
    //  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    //  grid-auto-rows: 1fr;
    //  grid-gap: 0.8em;
    //  border-radius: 3px;
    //  padding: 0.8em;
    //  margin: 0 0 2em;
    //}
    //
    .cssgrid > div {
    //  overflow: auto;
    //  min-width: 0;
      padding: 0;
    //  display: flex;
    //  align-items: center;
    }
  }